body {
    background-color: #76317a;
    background-image: url(/src/images/food.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica, sans-serif;
    margin: 0px auto;
}

.donutBtns {
    outline: none;
    height: 50px;
    width: auto;
} 

#clickBtn {
    outline: none;
    height: 200px;
    width: auto;
}

.buyBtns {
    display: flex;
    flex-direction: column;
}

.buyBtns {
    border: 1px solid;
    border-color: darkslateblue;
    border-radius: 4px;
    background-color:azure;
    /* background-image: url(/images/grey-sandbag.png); */
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    overflow: hidden;
}
    .buyBtns:hover {
       color: blue;
       box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    }

    .buyBtns::before {
       position: absolute;
       left: 0;
       width: 100%;
       background: #3498db;
       z-index: -1;
       transition: 0.8s;
    }


    nav {
        position: fixed;
        top: 0em;
        left: 0;
        height: 100%;
        width: 12em;
        display: flex;
        flex-flow: column;
        justify-content: center;
        background-color: #b1359c;
        background-image: url(/src/images/clean-gray-paper.png);
    }

    /* #myModal {
        width: 300px;
        height: 300px;
        position: absolute;
        left: 50%;
        top: 50%; 
        margin-left: -150px;
        margin-top: -150px;
    } */

    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #76317a;
        background-color:rgba(0, 0, 0, 0.5);
    }

    /* Modal Content */
    .modal-content {
        background-color: #3498db;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

